.body{
    maring:0;
}

.grower-container{
    /*background-image: url('./frostynug.jpg');   */
    background: linear-gradient(to right, rgb(0, 255, 0), rgb(164, 229, 165));
    background-size: cover;
    height: 670px;
    overflow: hidden;
    text-align: center;
}

.grower-header {
    padding-top:40px;
    font-size: 42px;
}

.growerInfo {
	background: lightyellow;
}

.growerInfoTitle {
	text-align: left;
	padding: 2px;
	font-size: 20px;
}