.grower-data-entry-container{
  height: 0 auto;
  width: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top:100px;
  padding-bottom:80px;
  margin-left: 0 auto;
  center: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.grower-data-entry-form {
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
  background-color: #0e403c;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  max-width: 500px;
  width: 0 auto;
  margin: 0 auto;
  border-radius: 15px;
}

/*h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}*/

.grower-data-entry-form {
  background: #0e403c;
  max-width: 400px;
  margin: 1 auto;
}


.data-enter-input::before {
  display: inline;
  content: "⚠ ";
}

.data-entry-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.data-entry-label {
  line-height: 0;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.data-entry-input[type="submit"] {
  background: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.data-entry-input[type="submit"]:hover {
  background: darkgreen;
}

.data-entry-input[type="button"]:active,
.data-entry-input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.data-entry-input:disabled {
  opacity: 0.4;
}

.data-entry-input[type="button"]:hover {
  transition: 0.3s all;

}

.data-entry-input[type="button"],
.data-entry-input[type="submit"] {
  -webkit-appearance: none;
  margin-left: 100px;
}

.data-entry-input[type="submit"]{
  margin-left: 0 auto;
}

.data-entry-submit-btn {
  center: 0 auto;
  width: 0 auto;
  height: 50px;
  border-radius: 45px;
  margin-top: 50px;
}
#btn{
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

#btn:hover{
  background-color: rgba(150, 150, 150, 1);
}