

.weed-container{
    /*background-image: url('./frostynug.jpg');   */
    background: linear-gradient(to right, rgb(0, 255, 0), rgb(164, 229, 165));
    background-size: cover;
    height: 700px;

    text-align: center;
  }
  
  .weed-header h2{
    margin-top: 0px;
    padding-top: 75px;
    font-size: 42px;
  }
  
  input#inputbox{
    width:700px;
    height:30px;
  
  }
  
  h3#YourProduct{
    margin-top:30px;
    font-size:30px;
  }
  
  .ProductInfo{
    background-color: rgb(90,90,90,0.5);
    height: 350px;
    margin-left:200px;
    margin-right:200px;
    padding-left:30px;
    padding-top: 15px;
  }
  
  .weedPicture{
    height: 290px;
    width: 360px;
    background-color:white;
  }
  
  .weedName {
    height: 105px;
    width: 383px;
    background-color: white;
  }
  
  .weedInfo{
    height: 173px;
    width: 383px;
    background-color: white;
  }

  .bar{
    width:720px;
  }


  @media screen and (max-width: 420px) {
    .searchbar{
      width: 280px;
    }

    .weed-container {
      height: 1050px;
      overflow: visible;
    }

    .weedPicture{
      margin-left:15px;
      width: 353px;
    }
    
    .weedName {
      margin-left:15px;
      width: 353px;
    }
    
    .weedInfo{
      margin-left:15px;
      width: 353px;
    }

    .ProductInfo{
      margin:0;
      padding:0;
      background-color: rgb(90,90,90,0)
    }

    .bar {
      width: 280px;
    }
  }

  @media screen and (max-width: 400px) {
    .searchbar{
      width: 280px;
    }

    .weed-container {
      height: 1050px;
      overflow: visible;
    }

    .weedPicture{
      margin-left:15px;
      width: 323px;
    }
    
    .weedName {
      margin-left:15px;
      width: 323px;
    }
    
    .weedInfo{
      margin-left:15px;
      width: 323px;
    }

    .ProductInfo{
      margin:0;
      padding:0;
      background-color: rgb(90,90,90,0)
    }

    .bar {
      width: 280px;
    }
  }

  @media screen and (max-width: 370px) {
    .searchbar{
      width: 280px;
    }

    .weed-container {
      height: 1050px;
      overflow: visible;
    }

    .weedPicture{
      margin-left:15px;
      width: 305px;
    }
    
    .weedName {
      margin-left:15px;
      width: 305px;
    }
    
    .weedInfo{
      margin-left:15px;
      width: 305px;
    }

    .ProductInfo{
      margin:0;
      padding:0;
      background-color: rgb(90,90,90,0)
    }

    .bar {
      width: 280px;
    }
  }
  
  