.weed-container{
    /*background-image: url('./frostynug.jpg');   */
    background: linear-gradient(to right, rgb(0, 255, 0), rgb(164, 229, 165));
    background-size: cover;
    height: 670px;
    overflow: hidden;
    text-align: center;
  }
  
  .weed-header h2{
    padding-top:40px;
    font-size: 42px;
  }
  
  input#inputbox{
    width:700px;
    height:20px;
  
  }
  
  h3#YourProduct{
    margin-top:30px;
    font-size:30px;
  }
  
  .ProductInfo{
    background-color: rgb(90,90,90,0.5);
    height: 350px;
    margin-left:200px;
    margin-right:200px;
  }
  
  .weedPicture{
    height: 290px;
    width: 360px;
    margin-left: 25px;
    background-color:white;
  }
  
  .weedName {
    height: 105px;
    width: 363px;
    background-color: white;
  }
  
  .weedInfo{
    height: 173px;
    width: 363px;
    background-color: white;
  }
  